{
  "extends": "rsnara",
  "env": {
    "jasmine": true
  },
  "rules": {
    "immutable/no-mutation": 0,
    "immutable/no-let": 0,
    "semi": [2, "never"]
  },
  "globals": {
    "__TEST__": true,
    "__DEV__": true
  }
}
