// Color palette Blue-ish
$baseColor: #2A4E6E;
$darkColor: #133452;
$darkerColor: #041F37;
$lightColor: #496B89;
$lighterColor: #718CA4;

// Primary Color
$primaryBase: #98D31C;
$primaryLight: #AEDF46;
$primaryLighter: #C8F171;
$primaryDark: #75A70D;
$primaryDarker: #598300;

// Secondary Color
$secondaryBase: #2F2F2F;
$secondaryLight: #3B3B3B;
$secondaryLighter: #4C4C4C;
$secondaryDark: #222222;
$secondaryDarker: #040404;

$grey900: #212121;
$grey800: #424242;
$grey700: #616161;
$grey600: #757575;
$grey500: #9E9E9E;
$grey400: #BDBDBD;
$grey300: #E0E0E0;
$grey200: #EEEEEE;
$grey100: #F5F5F5;
$grey50 : #FAFAFA;

$green900: #33691E;
$green800: #558B2F;
$green700: #689F38;
$green600: #7CB342;
$green500: #8BC34A;
$green400: #9CCC65;
$green300: #AED581;
$green200: #C5E1A5;
$green100: #DCEDC8;
$green50 : #F1F8E9;


$primaryGreen: #5BCF80;

$baseFontColor: $grey800;
$baseFontSize: 14px;

$linkColor: $grey600;

// Layout
$containerWidth: 1040px;

// Image Sizes
$imgSm: 20px;
$imgMd: 40px;
$imgLg: 80px;
