@import "../../styles/variables.scss";

.companyCard {
  background-color: $grey50;
  padding: 10px;
  margin-top: 20px;
  border-radius: 2px;
  transition: all 0.2s ease;
  padding-bottom: 20px;

  .infoWrapper {
    float: left;
    width: 15%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .ceoLabel {
    display: inline;
    padding-right: 5px;
  }

  .ceoData {
    display: inline-block;
  }

  .employeesLabel {
    display: inline;
    padding-right: 5px;
  }

  .employeesData {
    display: inline-block;
  }

  .sectorLabel {
    display: inline;
    padding-right: 5px;
  }

  .sectorData {
    display: inline-block;
    margin-bottom: 10px;
  }

  .companyDescription {
    float: right;
    width: 85%;
  }

  .name {
    color: $grey700;
    margin-bottom: 10px;
  }

  .logo {
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
}
